html,
body,
body > div:first-child,
div#__next,
div#__next > div,
div#__next > div > div {
  height: 100%;
}
.img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.container-img {
  width: 100%;
}
.container-img > span {
  position: unset !important;
}
.card-thread > p {
  margin-bottom: 0px !important;
}
.white-space {
  white-space: pre-wrap;
}

.alert p{
  margin-bottom: 0px !important;
}